html,body{
    background-color:#1e272e;
    color: whitesmoke;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.lengthInput{
    width: 3rem;
}

canvas{
    width: 99vw;
}

.Labels{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    text-align: center;
}